html {
    font-family: 'Lucida Grande', 'Times New Roman' sans-serif;
}

h1 {
    text-align: center;
    font-weight: 500;
}

h2 {
    color: DarkRed;
}

body {
    text-align: justify;
    line-height: 1.7;
    margin: 50px;
    background-color: WhiteSmoke;
    counter-reset: section;
}

h2::before {
  counter-increment: section;
  content: "" counter(section) ". ";
}